{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="{% static 'finalexampredict/css/member3.css' %}"
    />
    
  </head>
  <body>
    <!-- <div id="navbar-placeholder"></div> -->
    {% include "finalexampredict/navbar.html" %}
    <main class="container">
      <div class="member3title">
        <h2>Prof-o-Meter</h2>
      <p>Predict your performance based on your current data.</p>
      </div>

      <form id="predictionForm"> 
        {{form.as_p}}
        <button type="submit">Predict</button>
      </form>

      <div id="statusBox">Waiting for predictions...</div>
      <canvas id="predictionChart" width="600" height="300"></canvas>
    </main>

    <footer>
      <div class="container">
        <p>© 2025 MyProject. All rights reserved.</p>
      </div>
    </footer>

    <script>
      const predictUrl = "{% url 'predict_customer' %}";
    </script>
    <script src="{% static 'ic/js/kaito.js' %}"></script>
  </body>
</html>
