{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us - MyProject</title>
    <link rel="stylesheet" href="{% static 'finalexampredict/css/style.css' %}"/>
    <!-- Google Fonts: Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    {% include "finalexampredict/navbar.html" %}
    <!-- About Section -->
    <main class="about-section container">
      <h1>About Our Team</h1>
      <p class="subtitle">Meet the people who make this project possible.</p>
      <div class="team-grid">
        <div class="team-card">
          <img
            src="{% static 'finalexampredict/img/mei.jpg' %}"
            alt="Meily Ginting"
            class="avatar-img"
          />
          <h2>Meily Deswita Br Ginting</h2>
          <p>
            Identify the top 3 instructors best suited for a selected course, semester, and department. By leveraging historical teaching data and performance metrics, the system analyzes and predicts which educators are most effective in enhancing student learning outcomes.
          </p>
        </div>
        <div class="team-card">
          <img
            src="{% static 'finalexampredict/img/putri.jpg' %}"
            alt="Putrinann"
            class="avatar-img"
          />
          <h2>Putri Nurul Annisa</h2>
          <p><strong>Role:</strong> UI/UX Designer & Frontend Developer</p>
          <p>
            <em
              >Responsible for designing and implementing the websites user
              interface.</em
            >
          </p>
          <hr style="border-color: #6dc5ff; margin: 1rem 0" />
          <p><strong>Focus :</strong></p>
          <ul>
            <li>Scholarship Eligibility</li>
            <li>Non-Academic Involvement</li>
            <li>Grade Consistency</li>
            <li>Internship Readiness</li>
          </ul>
        </div>

        <div class="team-card">
          <img
            src="{% static 'finalexampredict/img/aespa.jpeg' %}"
            alt="Rifla Azizah"
            class="avatar-img"
          />
          <h2>Riflah Azizah</h2>
          <p>
            Leads instructor performance analysis by clustering based on average
            student grades and score distributions for academic quality
            assurance.
          </p>
        </div>
        <div class="team-card">
          <img
            src="{% static 'finalexampredict/img/mahes.jpg' %}"
            alt="Maheswari"
            class="avatar-img"
          />
          <h2>Salsabil Maheswari</h2>
          <p>
            Processing course performance data by calculating the average grade, difficulty level, and the number of students enrolled in each course. Helping to support more effective academic planning.
          </p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <div class="container">
        <p>© 2025 STUDIVY Project. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
