{% load static %}
<link rel="stylesheet" href="{% static 'finalexampredict/css/navstyle.css'%}"/>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<nav class="navbar">
  <div class="container nav-content">
    <a href="{% url 'home' %}"><h1 class="logo">STUDIVY</h1></a>
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'member1:member1' %}">Meily</a></li>
      <li><a href="{% url 'member2' %}">Putri</a></li>
      <li><a href="{% url 'member3' %}">Riflah</a></li>
      <li><a href="{% url 'maheswari' %}">Mahes</a></li>

    </ul>
  </div>
</nav>
