{% load static %}
<link rel="stylesheet" href="{% static 'finalexampredict/css/navstyle.css'%}"/>
<nav class="navbar">
  <div class="container nav-content">
    <a href="{% url 'home' %}"><h1 class="logo">ROSO ROSO ROSO</h1></a>
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="member1.html">Member 1</a></li>
      <li><a href="member2.html">Member 2</a></li>
      <li><a href="member3.html">Member 3</a></li>
      <li><a href="{% url 'maheswari' %}">Member 4</a></li>
    </ul>
  </div>
</nav>
